.lists {
    display: grid;
    grid-row-gap: 20px;
}

@media screen and (max-width: 499px) {
    nav {
        z-index: 10;
        background-color: #393646;
        width: 100%;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-1000px, 0);
        transform: translate(-1000px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.5s ease;
    }
    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav__item {
        display: list-item;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .list-item__description {
        font-size: 16px;
    }
}

@media screen and (min-width: 500px) {
    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 650px) {
    .list-item__content {
        padding: 16px 32px 32px 32px;
    }
    .list-item__title {
        font-size: 18px;
    }
    .list-item__description {
        font-size: 14px;
    }
    .menu_toggle {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 900px) {
    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav_list {
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
    hero {
        max-width: 1200px;
    }
}